body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    text-align: center;
}

/* CSS для шапки и меню */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    width: 100%; /* Занимает всю ширину страницы */
    left: 0; /* Обеспечивает, чтобы хедер начинался с самого левого края */
}

nav {
    margin: 0;
    position: relative; 
    display: inline-block; /* Центрируем навигацию */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Используем Flexbox для выравнивания элементов */
    justify-content: center; /* Центрируем элементы списка */
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; /* Убираем последний отступ */
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline; 
}

.burger {
    display: none; 
    font-size: 30px;
    cursor: pointer;
}
/* Адаптивные стили */

@media (max-width: 400px) {
    header {
        display: flex; /* Используем Flexbox для выравнивания */
        justify-content: end; /* Разделяем элементы по концам */
        align-items: center; /* Центрируем по вертикали */
        padding: 10px 20px; /* Паддинг для шапки */
    }

    .burger {
        display: inline-block;
        cursor: pointer;
        margin-left: auto; /* Выравнивание бургер-меню вправо */
    }

    nav ul {
        display: none; 
        flex-direction: column; 
        position: absolute;
        background-color: #333; 
        right: 0; 
        top: 50px; 
        width: 200px; 
    }

    nav ul li {
        display: block; 
        margin: 20px 0; 
    }

    .no {
        display: none; /* Класс для скрытия меню */
    }

    .yes {
        display: block; /* Класс для отображения меню */
    }
}
