<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Index</title>
</head>
<body>
    <h1>Start/Index</h1>
    <a href="/Start/One">One</a>
    <a href="/Start/Two">Two</a>
    <a href="/Start/Three">Three</a>
</body>
</html>