@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

<form asp-action="ChangePassword" method="post">
    <input type="hidden" name="ReturnController" value="@ViewBag.ReturnController" />
    <input type="hidden" name="ReturnAction" value="@ViewBag.ReturnAction" />

    <div>
        <label>Current Password</label>
        <input type="password" name="CurrentPassword" required />
    </div>
    <div>
        <label>New Password</label>
        <input type="password" name="NewPassword" required />
    </div>
    <button type="submit">Change Password</button>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <div class="text-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
